$font-size: 20px;
.logo {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 35px;
  &__name {
    color: #000;
    font-size: 20px;
  }
  &__img {
    width: 119px;
    height: auto;
    margin: 0 auto;
  }
}
.menu {
  overflow-y: auto;
  &__option {
    border-bottom: 1px dashed black;
    width: 100%;
    height: 80px;
    line-height: 80px;
    padding-left: 40px;
    font-size: 20px;
    color: #333d51;
    &--active {
      background-color: #f2f2f2;
    }
    &:first-child {
      border-top: 1px solid #ccc;
    }
    a {
      color: #333d51;
    }
    a:hover {
      color: #d2b48c;
    }
  }
}

@mixin paddings($dis, $num) {
  .padding-#{$dis}-#{$num} {
    padding-#{$dis}: $num + px;
  }
}
@mixin margins($dis, $num) {
  .margin-#{$dis}-#{$num} {
    margin-#{$dis}: $num + px;
  }
}
@mixin float($dis, $num) {
  .float-#{$dis}-#{$num} {
    float: $dis;
    padding-#{$dis}: $num + px;
  }
}

@include margins(top, 39);
@include margins(left, 65);
@include margins(left, 161);
@include margins(bottom, 94);
@include float(right, 28);
