@import "mixin"; //global variable & mixin
@import "compass/reset";
@import "compass/css3";
@import "extend"; //@extend style
@import "layout";
@import "index"; //home page css
@import "page"; //page css
@import "xxx"; //component CSS

@mixin bg($name, $bg) {
  background: url("../images/#{$name}.#{bg}");
  width: image-width("../images/#{$name}.#{$bg}");
  height: image-height("../images/#{$name}.#{$bg}");
}
@mixin text-hide {
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

.header h1 a {
  @include bg("logo", "png");
  @include text-hide;
}

.header h2 a {
  @include border-radius("50px");
  @include opacity(0.2);
  @include box-shadow("3px 3px 5px #000");
}
