$mobile: 767px;
$pad-min: 768px;
$pad: 991px;
$pc: 992px;

@mixin respond-rwd($breakpoint) {
  @if $breakpoint == mobile {
    @media all and (max-width: $mobile) {
      @content;
    }
  } @else if $breakpoint == pad {
    @media all and (min-width: $pad-min) and (max-width: $pad) {
      @content;
    }
  } @else if $breakpoint == pc {
    @media all and (min-width: $pc) {
      @content;
    }
  }
}

.one {
  width: 600px;
  @include respond-rwd("pc") {
    width: 300px;
    height: 50px;
  }
  @include respond-rwd("pad") {
    width: 100%;
  }
}

$breakpoints: (
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@mixin respond-to($breakpoint, $breakpoints: $breakpoints) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

html {
  background-color: lime;
  @include respond-to("sm") {
    background-color: aqua;
  }
}
